@{
    ViewData["Title"] = "Strona domowa";
}
<div class="text-center">
    <p>Strona powstała jako przykład wykorzystania ASP.net core MVC <br />  <a href="http://portfolio.mromik.pl/">by MRomik</a></p>
</div>